* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

#items-wrapper {
  width: 100vw;
}

#items {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.item {
  flex: none;

  width: 100%;
  height: 400px;

  scroll-snap-align: start;
}

img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
