@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  background: #121212;
  display: grid;
  align-items: center;
}

h1 {
  max-width: 480px;
  text-align: center;
  margin: 20px auto;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

h1::after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

p {
  max-width: 480px;
  text-align: center;
  margin: 60px auto;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

p::after {
  content: ".";
  margin-left: 5px;
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes poin {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.countdown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.countdown li {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  padding: 1rem;
  color: #09e;
  background: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.countdown li span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 3rem;
}
