* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  background: #121212;
  display: grid;
  align-items: center;
}

.countdown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.countdown li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding: 1rem;
  color: #09e;
  background: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.countdown li span {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 3rem;
}
