* {
  margin: 0;
  padding: 0;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 2px;
  cursor: pointer;
}

.textview {
  width: 203px;
  margin: 5px;
  font-size: 25px;
  padding: 5px;
}
